/*

Selectors

Simple selectors (select elements based on name, id, class)
Combinator selectors (select elements based on a specific relationship between them)
Pseudo-class selectors (select elements based on a certain state)
Pseudo-elements selectors (select and style a part of an element)
Attribute selectors (select elements based on an attribute or attribute value)

*/

/************************************/
/* Simple Selectors */

/* Element Selector */
h1 {
    text-align: center;
}

/* Class Selector */
.center {
    text-align: center;
}

/* ID Selector */
#heading1 {
    text-align: center;
}

/*****************************/

.large {
    font-size: 20px;
}

/* Only choose p elements with center class.*/
p.center {
    color: blue;
}

/*****************************/

/* Descendant Selector */

/* .wrapper p {
    color: red;
} */

/* body div p {
    color: red;
} */

/* Bunu kullanmamaya çalış. HTML yapısını CSS içerisine karıştırıyor.
Ayrıca Selektörün spesifisitesini(öncelik) arttırıyor. Class kullan.*/

/****************************************/
/* Resolving Conflicting Declarations */

p {
    font-size: 22px;
}

.author {
    font-size: 18px;
}

.author2 {
    font-size: 50px;
}

/* #author-text {
    font-size: 20px;
} */

/****************************************/
/* Alıştırmalar */

/* Universal Selector(*) tüm elementleri seçer.
Bazı elementlerin sahip olduğu default(varsayılan)
boşlukları kaldırdık. Örneğin <p> elementi
etrafındaki margin gibi. */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.rect {
    width: 250px;
    height: 250px;
    background-color: #EB4444;
    border: 5px solid #000;
    border-radius: 24px;
}

.rect-text {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    /* line-height: 250px; */
    margin-top: 110px;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: linear-gradient(129.693deg, #AEC4FD 0%, #5985F5 54%, #205CF3 100%);
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.05), 20px 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.magic {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: linear-gradient(180deg, rgba(255, 38, 0, 0.2) 0%, rgb(0, 255, 17, 0.2) 50%, rgb(55, 0, 255, 0.2) 100%);
    box-shadow: 0 217px 61px 0 rgba(255, 0, 128, 0),
    0 139px 56px 0 rgba(255, 0, 128, 0.01),
    0 78px 47px 0 rgba(255, 0, 128, 0.05),
    0 35px 35px 0 rgba(255, 0, 128, 0.09),
    0 9px 19px 0 rgba(255, 0, 128, 0.1);
    
    /* Margin Collapsing Sorunu Çözümü: */
    overflow: hidden;

    /*
    Margin Collapsing:
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_box_model/Mastering_margin_collapsing
    */
}

.magic-text {
    width: 100px;
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    /* Yatay ve Dikeyde hizaladık */
    /* margin: top right bottom left */
    margin: 88px auto 0 auto;
}

.mc1 {
    width: 100px;
    height: 50px;
    background-color: red;
    margin-bottom: 100px;
}
.mc2 {
    width: 100px;
    height: 50px;
    background-color: blue;
    margin-top: 50px;
}

.mc3 {
    width: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: orange;
}

.box {
    color: #fff;
    box-sizing: content-box;
    width: 200px;
    border: 5px solid orangered;
    background-color: rgb(50, 50, 151);
    padding: 20px;
    margin-left: 20px;
}

.triangle {
    width: 200px;
    height: 200px;
    background-color: #f123e7;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}